<section id="Movie">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-wrap">
                    <!-- Movie Form-->
                    <h2>Add Movie</h2>
                    <form [formGroup]="formsMovie" (ngSubmit)="addMovie()" novalidate>
                        <div class="form-group">
                            <label> Add the Image URL </label>
                            <input type="text" class="form-control" [(ngModel)]="currMovie.imagesUrl" formControlName="imagesUrl" name="imagesUrl" placeholder="Enter the Movie URL">
                            <div *ngIf="formsMovie.controls['imagesUrl'].errors && (formsMovie.controls['imagesUrl'].dirty || formsMovie.controls['imagesUrl'].touched)" class="alert alert-danger">
                                <div [hidden]="!formsMovie.controls['imagesUrl'].hasError('required')">
                                    Image Url is required
                                </div>
                                <div [hidden]="!formsMovie.controls['imagesUrl'].hasError('minlength')">
                                    Minimum 25 characters needed.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Movie Name </label>
                            <input type="text" class="form-control" name="name" formControlName="name" [(ngModel)]="currMovie.name" placeholder="Movie Name">
                            <div *ngIf="formsMovie.controls['name'].errors && (formsMovie.controls['name'].dirty || formsMovie.controls['name'].touched)" class="alert alert-danger">
                                <div [hidden]="!formsMovie.controls['name'].notNumber">
                                    Please enter 3 Digit
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Description </label>
                            <input type="text" class="form-control" name="description" formControlName="description" [(ngModel)]="currMovie.description" pattern="^[a-zA-Z]*$" placeholder="Description" required>
                            <div *ngIf="formsMovie.controls['description'].errors && (formsMovie.controls['description'].dirty || formsMovie.controls['description'].touched)" class="alert alert-danger">
                                <div [hidden]="!formsMovie.controls['description'].hasError('required')">
                                    Description is required
                                </div>
                                <div [hidden]="!formsMovie.controls['description'].hasError('pattern')">
                                    Please enter Alphabets only
                                </div>
                                <div [hidden]="!formsMovie.controls['name'].hasError('maxlength')">
                                    Enter Minimum 15 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Choose Your Ratings </label>
                            <select class="form-control" name="rating" formControlName="rating" [(ngModel)]="currMovie.ratings" required>
                                <option [value]="rating" [disabled]="true">Select Ratings</option>
                                <option *ngFor = "let rating of ratings" [ngValue]="rating.title">
                                    {{rating.title}}
                                </option>
                            </select>
                            <div *ngIf="formsMovie.controls['rating'].errors && (formsMovie.controls['rating'].dirty || formsMovie.controls['rating'].touched)" class="alert alert-danger">
                                <div [hidden]="!formsMovie.controls['rating'].hasError('required')">
                                    Rating is required
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Add" [disabled]="formsMovie.invalid">
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <!-- List of Movies-->
                <table *ngIf="listOfMovies.length > 0" class="table table-striped table-bordered">
                    <tr>
                        <th> Index</th>
                        <th> Movie Poster</th>
                        <th> Movie Name</th>
                        <th> Movie Description</th>
                        <th> Rating</th>
                    </tr>
                    <tr *ngFor="let movie of listOfMovies; let i=index;">
                        <td>{{i + 1}}</td>
                        <td><img [src]="movie.imagesUrl" [alt]="movie.name" width="75" /></td>
                        <td>{{movie.name}}</td>
                        <td>{{movie.description}}</td>
                        <td>{{movie.ratings}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Movie List -->
    </div>
</section>